body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.useritem_wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;


}
.useritem_image{
  width: 52px;
  height: 52px;
  border-radius: 50%;
  margin-right: 15px;
}
.useritem_name{
  font-size: 20px;
  color:blue;
}
